<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS4132 Data Analytics</b> </font>

# Lab 3.1: Pandas

## (Section 3.1 to 3.3) Create & Select

Complete the following questions and upload your `.ipynb` file to Coursemology.

Name the file in the following format:

`Lab<Num><YourName>.ipynb`

Note that for each question, you should shortlist at least 3 non-trivial test cases to show the correctness of your solution.

In [1]:
import pandas as pd, numpy as np

### Q1

State the differences between Numpy and Pandas.

In [2]:
#Type your answer below
# Numpy is used for processing arrays of a single datatype that could be 3-dimensional or more.
# Pandas can be used for multiple datatypes but can only be 2-dimensional. Best used for simple tables.

### Q2 [Read Section 3.1 before attempting the question]

a) Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

i) Using a list

In [11]:
#your solution
ingredients = pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index=["Flour", "Milk", "Eggs", 'Spam'])
ingredients.rename("Dinner")
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

ii) Using a dictionary

In [12]:
#your solution
ingredients = pd.Series({'Flour': '4 cups',
                        'Milk': '1 cup',
                        'Eggs': '2 large',
                        'Spam': '1 can'})
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

iii) Using a numpy object

In [13]:
#your solution
ingredients = pd.Series(np.array(["4 cups", "1 cup", "2 large", "1 can"]), index = ["Flour", "Milk", "Eggs", 'Spam'])
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

b) Return the 3rd index of the series in (a)

In [14]:
#your solution
ingredients[3]

'1 can'

c) Show 3 ways in which you may access the last element of the series in (a)

In [15]:
#your solution
ingredients[-1]

'1 can'

In [20]:
#your solution
ingredients.iloc[3]

'1 can'

In [21]:
#your solution
ingredients.loc['Spam']

'1 can'

d) Add the following information into the series in (a).

<pre>
Sugar     1 packet
Coffee       1 cup
Bacon     2 slices
</pre>

In [23]:
#your solution
new_stuff = pd.Series(['1 packet', '1 cup', '2 slices'], index=['Sugar', 'Coffee', 'Bacon'])
ingredients.append(new_stuff)
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

### Q3 [Read Section 3.2 before attempting the question]

a) Create a DataFrame `fruits` that looks like this:

<img src="https://i.imgur.com/Ax3pp2A.png" width="200">

In [26]:
#your solution
fruits = pd.DataFrame([[30,21]],columns=['Apples', 'Bananas'])
fruits

   Apples  Bananas
0      30       21

b) Rename the index to Quantity.

In [28]:
#your solution
fruits.index = ['Quantity']
fruits

          Apples  Bananas
Quantity      30       21

c) Transpose the dataframe. Update the data to fruits.

In [48]:
#your solution
fruits = fruits.T
fruits

         Quantity
Apples         30
Bananas        21

d) Display the new indexes

In [49]:
#your solution
fruits.index

Index(['Apples', 'Bananas'], dtype='object')

e) Find the total number of fruits.

In [50]:
#your solution
np.sum(fruits)

Quantity    51
dtype: int64

### Q4 [Read Section 3.3 before attempting the question]

a) Create a DataFrame `fruit_sales` that looks like this:

<img src="https://i.imgur.com/CHPn7ZF.png" width="200">

i) Using list

In [ ]:
#your solution

ii) Using dictionary

In [ ]:
#your solution

iii) Using Series

In [ ]:
#your solution

b) Find the total sales per year.

In [ ]:
#your solution

c) Find the total sales of Apples only.

In [ ]:
#your solution

d) List the sales of Banana in 2018.

In [ ]:
#your solution

### Q5

We will use the following DataFrame for the following questions.

In [ ]:
reviews = pd.read_csv("wine.csv", index_col=0) #read in data from wine.csv
reviews.head() #display the first few data from the dataframe

a) Select the description column from reviews

In [ ]:
#your solution

b) Select the first 10 values from the description column in reviews

In [ ]:
#your solution

c) Select the records with index labels `1`, `2`, `3`, `5`, and `8`

In [ ]:
#your solution

d) Create a variable `df` containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 1, 10, and 50

In [ ]:
#your solution

e) Create a variable df containing the country and variety columns of the last 50 records in reverse order.

In [ ]:
#your solution

f) Create a DataFrame `italian_wines` containing reviews of wines made in Italy.

In [ ]:
#your solution

g) Create a DataFrame `top_us_wines` containing all reviews with at least 85 points (out of 100) for wines from US.

In [ ]:
top_us_wines = reviews.loc[(reviews.points >= 85) & (reviews.country == 'US')]
top_us_wines

h) Find all reviews with at least 85 points (out of 100) for wines from US and designation is not null.

In [ ]:
#your solution

i) Find all wines where region_1 is a Valley.

In [ ]:
#your solution

j) Find the number of wine record with region_2 that is not null.

In [ ]:
#your solution